<mat-sidenav-container>
  <mat-sidenav mode="side"
               opened="true">
    <div class="side-nav-container">
      <img/>

      <mat-nav-list>
        <div>
          <a mat-list-item [routerLink]="'/store'">store</a>
          <a mat-list-item [routerLink]="'/cart'">cart</a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
