:host {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

::ng-deep {

  .content, .content-header, .content-footer {
    display: flex;
    flex-direction: column;
  }

  .content-footer {
    margin-top: auto;
  }

  .mat-drawer-container {
    display: flex !important;
    flex: 1 1;

    .mat-drawer-content {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      height: auto !important;
    }
  }
}

label {
  display: inline-block;
}
