:host {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 15px;
}

.equipment-list {

  .equipment-list-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    mat-card {
      max-width: 280px;

      mat-card-content {
        max-height: 180px;
        overflow: hidden;
      }
    }
  }
}
