<header class="content-header"><h1>header</h1></header>
<section class="content">
  <article class="equipment-list">
    <header>
      <h2>Equipment list</h2>
    </header>
    <div class="equipment-list-content">
      <mat-card *ngFor="let equipment of equipmentList$ | async">
        <img mat-card-lg-image/>
        <mat-card-title>{{equipment.name}}</mat-card-title>
        <mat-card-subtitle>{{equipment.code}} | {{equipment.type}} | {{equipment.avgPrice}}</mat-card-subtitle>
        <mat-card-content>{{equipment.description}}</mat-card-content>
        <mat-card-actions>
          <button mat-button>to cart</button>
          <button mat-button>remove from cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </article>
  <article>
    <header>
      <h2>Creation form</h2>
    </header>
    <div class="equipment-list-content">
      <form [formGroup]="createForm">
        <div class="container" fxLayout="column">
          <div fxLayout="row">
            <label fxFlex="22">Equipment name</label>
            <mat-form-field fxFlex="22">
              <input matInput formControlName="name"/>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <label fxFlex="22">Equipment code</label>
            <mat-form-field fxFlex="22">
              <input matInput formControlName="code"/>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <label fxFlex="22">Equipment description</label>
            <mat-form-field fxFlex="22">
              <input matInput formControlName="description"/>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <label fxFlex="22">Equipment Type</label>
            <mat-form-field fxFlex="22">
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of equipmentType" [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <label fxFlex="22">Price</label>
            <mat-form-field fxFlex="22">
              <input type="number" matInput formControlName="price"/>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <label fxFlex="22">Diller</label>
            <mat-form-field fxFlex="22">
              <mat-select formControlName="diller">
                <mat-option *ngFor="let diller of dillerList$ | async" [value]="diller">{{diller.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <div fxFlex="22"></div>
            <div fxFlex="22" style="text-align: right">
              <button mat-button
                      [disabled]="createForm.invalid"
                      (click)="createNewEquipment()">create</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </article>
</section>
<footer class="content-footer">footer</footer>
